 body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
    color: #222;
}

header {
    background: #000;
    color: #fff;
    padding: 15px 0;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: linear-gradient(135deg, #000, #333);
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.btn {
    padding: 10px 20px;
    background: #fff;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.section {
    width: 90%;
    margin: 60px auto;
    text-align: center;
}

.skills-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.skills-grid span {
    background: #000;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.projeto {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.btn2 {
    padding: 8px 15px;
    background: #000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

